.popup-container {
  position: fixed;
  top: 50%;
  left: 53.5%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 700px;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  z-index: 1000;
}

.popup-content {
  padding: 20px;
  text-align: left;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: red;
}

.popup-heading {
  color: #28a745; /* Green color */
  border-left: 5px solid #28a745;
  padding-left: 10px;
  margin-bottom: 10px;
}

.popup-divider {
  border: none;
  height: 2px;
  background-color: #28a745; /* Green color */
  margin-bottom: 20px;
}

.popup-content p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.popup-content a {
  color: #007bff; /* Blue color for links */
  text-decoration: none;
}

.popup-content a:hover {
  text-decoration: underline;
}
